
#topmenu{
    position:sticky;
    top: 0;
    z-index: 2;
}

#products{
    display: flex;
    flex-wrap:wrap ;
    margin-left: 40px;
    gap:30px;
    margin-top: 30px;
}
#eyetech{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap:wrap ;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
    gap:30px;
    margin-top: 30px;
    border:"2px solid black";
}
#details
{
    height: 450px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#img2
{
    
    width:500px;
    height: 400px;
    margin-bottom: 10px;
    
}
#imgpro
{
    cursor: pointer;
}
#desc
{
    margin-bottom: 40px;
}
#searchProducts
{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap:wrap ;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
    gap:30px;
    margin-top: 30px;
    border:"2px solid black";
    margin:20px
}